.table-container {
    overflow-x: auto;
}
.common-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
}
.common-th {
    border: 1px solid #ddd;
    padding: 8px;
    width: 15%;
}
.common-td {
    padding: 8px;
    border: 1px solid #ddd;
}
.common-thead {
    background-color: #f4f4f4;
}
